mixin ok-sdk-form-4(o, title="Form 1.4")

  #main.form-4.wrapper.column

      .row.flexh.header
        .button.endcap.bottom-left.large.bg-cat-1-1
          .cap
        .bar.base.bg-cat-1-1.flexcv
        .elbow.top-right.large.vertical.bg-cat-1-1
          .bar
            .block
        .bar.flexcv
        .endcap.bottom-right.large
          .cap

      .row.flexcv.flexch.content
        .bar.flexcv

          p.text-2-3
            | Ooops... how are we going to restrict or align columns *and*
            | rows!

          +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})
          +lorem-ipsum-paragraph(1)&attributes({class:'text-2-2 capital'})
          +lorem-ipsum-paragraph(1)&attributes({class:'text-2-1 capital'})

        .bar.vertical.bg-cat-1-1
        .bar.flexcv
          +lorem-ipsum-paragraph(1)&attributes({class:'text-2-2 capital'})
          +lorem-ipsum-paragraph(1)&attributes({class:'text-2-1 capital'})

      .row.flexh.footer
        .bar.flexcv
        .elbow.bottom-left.default.vertical.bg-cat-1-1
          .bar
            .block
        .bar.large.bg-cat-1-1.flexcv
