mixin ok-sdk-form-1-inline(o)
  //-
    LCARS Monitor baseform1 with text body and leading/trailing pillbar

  -
    o = ok.NewElementOptions(o, {
          "title": "BF-1"
        }, attributes);
    o = lodash.defaultsDeep(o, {
        "header": { "title": o.title, "color": o.color, "size": o.size },
        "content": { "color": o.color, "size": o.size },
        "footer": { title: null, "color": o.color, "size": o.size },
        "buttons": []
      })
    o.buttons = o.buttons.concat(
        ok.PrevNextButtons(o, '/forms?merge.data='))
    o.footer[''] = o.buttons

  .form-1.pane.flexv.flex(class=o['class'])
    if o.header
      +ok-sdk-pillbar(o.header).header

    .pane.content.row.flex
      if block && typeof block() != "undefined"
        block
      else if o[''] && o[''].length
        +ok-element({'': o['']}, o.content || {})
      else
        +ok-sdk-placeholder(o.color)

    if o.footer
      +ok-sdk-pillbar(o.footer).footer
