include ok-json-html


mixin ok-sdk-no-data(color, msg='No Data')
  .flex
    p.no-data-placeholder&attributes({class:'bg-'+color})= msg

mixin ok-sdk-bar(o_)
  if arguments.length > 1
    - okSurplusArgs(arguments, 1, 'ok-sdk-bar')
  - let o = okNewElementOptions(o_, {}, attributes)
  if "string" == typeof(o[''])
    - o["data-label"] = o['']
    - delete o['']
  +ok-element(o, {"class": "bar flex"})
    block

mixin ok-sdk-cap-left(o)
  +ok-element(o, {"class": "cap left"})

mixin ok-sdk-cap-right(o)
  +ok-element(o, {"class": "cap right"})

mixin ok-sdk-titlebar(o_)
  if (arguments.length > 1)
    - okSurplusArgs(arguments, 1, 'ok-sdk-titlebar')
  -
    let o = okNewElementOptions(o_, {
        "title": {
          "text": "Title",
          "align": "right"
        }
      }, attributes)
    o = lodash.defaultsDeep(o, {
        "bar": { "color": o.color, "size": o.size },
        "title": {
          "color": o.color, "size": o.size,
          "text": o.title } } )
    let content
    if( "undefined" !== typeof o[''] ) {
      content = o['']
      delete o['']
    } else {
      content = []
    }

  if o.title && o.title.align == 'left'
    +ok-element(o.title).title.text
      = o.title.text

  if typeof content == "string"
    +ok-element(o.bar).bar.flex
      = content
  else
    +ok-element(o.bar).bar.flex
    if typeof content.length !== "undefined" && content.length > 0
      +ok-element-items(content, o.color, o.size)

  if o.title && o.title.align == 'right'
    +ok-element(o.title).title.text
      = o.title.text

mixin ok-sdk-pillbar(o_)
  -
    let o = okNewElementOptions( o_, {
        "title": "PB",
      }, attributes)
    let defs = {
        "lcap": { "color": o.color, "size": o.size },
        "bar": { "color": o.color, "size": o.size },
        "rcap": { "color": o.color, "size": o.size } }
    if( null == o.title ) defs["bar"]["title"] = null
    else defs["bar"]["title"] = { "text": o.title }
    if( typeof o[""] != "undefined" ) {
      defs["bar"][""] = o[""]
    }
    lodash.defaultsDeep(o, defs)

  .row.flexh&attributes(attributes)
    if o.lcap
      +ok-sdk-cap-left(o.lcap)
    +ok-sdk-titlebar(o.bar)
    if o.rcap
      +ok-sdk-cap-right(o.rcap)

mixin ok-prev-next-form(o, baseref="/forms/")

  - let prev_href; let next_href

  if o.prev
    - prev_href = baseref + o.prev
  else if o['prev-url']
    - prev_href = o['prev-url']

  if prev_href
    a.button.bg-cat-1-1(data-label="PREV", href=prev_href)

  if o.next
    - next_href = baseref + o.next
  else if o['next-url']
    - next_href = o['next-url']

  if next_href
    a.button.bg-cat-1-1(data-label="NEXT", href=next_href)


include lcars-form-1-inc
include lcars-form-2-inc
include lcars-form-3-inc

mixin ok-sdk-base-form-0(o)
  .pane
    if o.title
      span.title=o.title
    +ok-prev-next-form(o, '/forms?merge.data=')

    if "undefined" != typeof o[''].length
      +ok-element-items(o[''], o.color, o.size)
