mixin ok-sdk-base-form-1(o_)
  //-
    LCARS Monitor baseform1 with text body and leading/trailing pillbar

  -
    let o = okNewElementOptions(o_, {
          "title": "BF-1"
        }, attributes);
    o = lodash.defaultsDeep(o, {
        "header": { "title": o.title, "color": o.color, "size": o.size },
        "content": { "color": o.color, "size": o.size },
        "footer": { title: null, "color": o.color, "size": o.size },
        "buttons": []
      })
    o.buttons = o.buttons.concat(
        okPrevNextButtons(o, '/forms?merge.data='))
    o.footer[''] = o.buttons

  .form-1-1.pane.flexv.flex(class=o['class'])
    if o.header
      +ok-sdk-pillbar(o.header).f11-1.header

    .f11-2.pane.content.row.flex
      if o.content
        if o['']
          +ok-element(o.content, {'': o['']})
      else
          +ok-sdk-no-data(o.color)

    if o.footer
      +ok-sdk-pillbar(o.footer).f11-1.footer
