mixin ok-sdk-form-2-1(o, color, size='medium', lbar, rbar, tbar, bbar)
  //-
    LCARS frame - A simple contentpane bordered by a LCARS bars and elbows, with broad vertical and thin horizontal frame

  -
    o = okNewElementOptions(o, {
          "title": "F-2.1"
        }, attributes);

  - vbarw = 150.6

  if !color
    - color = "cat-1-1"

  .form-2_1.pane.column.flexv.flexch&attributes(lodash.pick(o, ['class', 'id']))
    .pane.flexh.flexcv

      .column.frame.flexv
        .elbow.top-left.bg-cat-1-1.default(data-label="36")
          .bar
            .block
            .triangle
        .button.medium.bg-cat-5-3(data-label="LCARS")
        .button.bg-cat-2-3.flexcv(data-Label="98 12312", align="right")
        .elbow.bottom-left.bg-cat-5-3.flexcv.default
          .bar
            .block
            .triangle

      .column.flexch.flexv
        .row.frame.flexh
          .bar.bg-cat-1-3.flexch

        .column
          .title.text-1-1(align="right") LCARS FORM 2.1
          .flexh.button-wrap
            p.text-1-1.text Form 2: A frame enclosing a single content pane
            
        .content.pane.flexcv
          if o
            +ok-prev-next-form(o, '/forms?merge.data=')
            if o['']
              - if ('id' in o) delete o['id']
              +ok-element(o)
          else
            if block
              block
            else
              +ok-sdk-no-data(color)

        .row.frame.flexh
          .bar.bg-cat-2-2
          .bar.bg-cat-2-1.flexch
          .bar.bg-cat-2-3

      .column.frame.flexv
        .elbow.top-right.bg-cat-1-2.default(data-label="11", align="right")
          .bar
            .block
            .triangle

        .button.bg-cat-5-2(data-label="413")
        .button.bg-cat-2-1.flexcv(data-Label="96 213")
        .elbow.bottom-right.bg-cat-4-1.flexcv.default
          .bar
            .block
            .triangle

//-
