
mixin lorem-ipsum-paragraph(o, num=1)
  // XXX: maybe mix in content
  - if( "undefined" !== typeof o[''] ) { delete o['']; }
  - attributes = lodash.defaultsDeep({}, o, attributes)

  if !attributes.class
    - attributes.class = 'text-1-1'

  - 
    LoremIpsum = locals["lorem-ipsum"].LoremIpsum
    lorem = new LoremIpsum({
        sentencesPerParagraph: {
        max: 11,
        min: 2
      },
      wordsPerSentence: {
        max: 16,
        min: 7
      }})

  if !attributes.num
    - attributes.num = num

  - i = 0
  while i < attributes.num
    p&attributes(attributes)= lorem.generateParagraphs(1)
    - i += 1
