extends base

mixin ok-sdk-select()

  #select.wrapper.row
    //.column.flexv.flexch(style="max-width:10%")
    .column.flexv.flexch
      .bar.bg-grey-4.top.medium(data-label="1.1")
      .bar.bg-cat-2-2.flexcv(data-label="1.2")
      .bar.bg-grey-4.bottom.medium(data-altlabel="1.5")

    .column.flexv.flexch(style="min-width:50%;")
      .bar.medium.bg-grey-4.top(data-label="Main")
      .column(style="overflow-y:scroll;")
        .column(style="")
          .row
            .button.nobutton.left.bg-cat-1-1(data-label="MI OKU",align="right")
            .title.flexch.text-2-3 AN
            .button.nobutton.flexch.bg-cat-2-1(data-label="AN PRO",align="right")
          .row
            .button.nobutton.left.bg-cat-1-1(data-label="DE OKU",align="right")
            .title.flexch.text-5-3 LCARS
            .button.nobutton.flexch.bg-cat-2-1(data-label="DC FON",align="right")
          .row
            .button.nobutton.left.bg-cat-1-1(data-label="GE ROD",align="right")
            .title.text-2-3 SDK
            .oval.small.bg-cat-1-2
            .button.nobutton.flexch.bg-cat-2-1(data-label="1987",align="right")
          .row
            .button.nobutton.left.bg-cat-1-1(data-label="DO DRE",align="right")
            .title.flexch.text-2-3 DEMO
            .button.nobutton.flexch.bg-cat-2-1(data-label="32-2018",align="right")
          .row
            .button.nobutton.flexch.bg-cat-1-1(data-label="Introduction")
            a.button.bg-cat-2-3.blink(data-label="Start", style="min-width:60px", href="forms?merge.data=layout/step-1")
            .button.nobutton.flexch.bg-cat-2-2(data-label="Repro")
            a.button.bg-cat-1-1(data-label="2369a", style="min-width:60px",
            href="forms?merge.data=repro/TNG-2369a")
          .row
            .button.nobutton.flexch.bg-cat-2-3(data-label="Original")
            a.button.bg-cat-5-1(data-label="1", style="min-width:60px", title="TNG Film Layout", href="interfaces/hardcode/index.html")
            a.button.bg-cat-5-1(data-label="2", style="min-width:60px", title="Dynamic Color Scheme", href="interfaces/color-generator/index.html")
            a.button.bg-cat-5-3(data-label="3", style="min-width:60px", title="Complete Visual Guide", href="interfaces/visual-guide/index.html")
            .button.nobutton.flexch.bg-cat-4-2
              .bar.small.bg-black(style="margin:5px; width:20px; float:right")
            a.button.bg-cat-4-1(data-label="WEB-1", style="min-width:60px", href="http://web.archive.org/web/20181120182819/http://lcarssdk.org/")
            a.button.bg-cat-4-1(data-label="WEB-2", style="min-width:60px", href="https://dotmpe.github.io/ok-lcars-sdk")
          .row
            .button.nobutton.flexch.bg-cat-2-2(data-label="Base Form")
            a.button.bg-cat-5-1(data-label="1.1", style="min-width:60px", href="forms?merge.data=base/form-1")
            a.button.bg-cat-5-2(data-label="1.2", style="min-width:60px", href="forms?merge.data=base/form-2")
            a.button.bg-cat-5-3(data-label="1.3", style="min-width:60px", href="forms?merge.data=base/form-3")
            a.button.bg-cat-5-1(data-label="2.1", style="min-width:60px", href="forms?merge.data=base/form-4")
          .row
            a.button.flexch.bg-grey-6.left(data-label="SRC", style="min-width:70px", href="https://github.com/dotmpe/ok-lcars-sdk")
            a.button.flexch.bg-grey-6(data-label="DOC", style="min-width:70px", href="/app/ok-docs/main")
            a.button.flexch.bg-grey-6(data-label="DEV", style="min-width:70px", href="/app/ok-docs/main#doc/dev/main")
            .title.flexch.text-grey-4.semver 0.0.3
            a.button.bg-grey-2(data-label="VIA", style="min-width:60px", href="https://github.com/Aricwithana/LCARS-SDK")
              .oval.small.bg-black(style="margin:5px; float:right")

      .bar.medium.bg-grey-5.bottom
        .bar.small.bg-black(style="margin:5px; width:20px")

    .column.flexv.flexch
      .bar.bg-grey-4.top.medium(data-label="3.1")
      .bar.bg-cat-2-1.flexcv(data-label="3.2.1")
      .row.flexv
        .complexButton.flexcv
          .button.bg-cat-2-1(data-label="3.2.2.1")
          .text.text-2-3 ERR
          .button.right.bg-cat-1-1(data-label="")
      .bar.bg-cat-2-1.flexcv(data-label="3.2.3")
      .bar.bg-grey-4.bottom.medium(data-altlabel="3.3")


block head
  +std-html-head("Sitefile LCARS example Client")

block prologue
block header
block main
  +ok-sdk-select()

block document
block footer

block epilogue
