// OK Style Part 1: variables

// Background and text colors (as SASS variables)
@import ./theme.sass

// Load fonts
@import ./lcarssdk-fonts.css

$small-space:   3pt // 4px
$medium-space:  2* $small-space // 6pt  8px
$large-space:   3* $small-space // 9pt  // 12px
$xlarge-space:  4* $small-space // 12pt // 16px
$xxlarge-space: 5* $small-space // 15pt // 20px

$unit-small: 11.3pt // 15px
$unit-medium: 22.6pt // 30px
$unit-large: 22.6pt // 30px
  
$bar-inner-margin: 3.75pt // 5px

$bar-min-v: $unit-medium
$bar-min-h: $unit-medium

$pill-cap-small-width: $unit-small
$pill-cap-medium-width: $unit-medium

$f13-head-ratio: 0.25 // 1/4th of VH
// TNG Canon: < 1/3th of VH
//$f13-head-ratio: 0.32
//$f13-head-ratio: 0.29


// OK Style part 2: elements and classes

@import style-html.sass

.ok-diagram
  padding: 15pt

  > .wrapper.row
    height: 100%

  p
    text-align: justify
    text-justify: inter-word

  p.capital
    text-transform: uppercase

  .blockFont
    font-family: 'LCARS Block'
    font-size: inherit

  // Base

  .button
    min-height: 45.2pt
    min-width: 112.9pt

  .button.pill
    border-radius: 22.6pt

  .wrapper.spacer
    margin: 0

  .button-wrap
    flex-wrap: wrap
    margin-top: 0
    padding-top: 3.8pt
    width: 100%

    .button
      margin-bottom: 3.8pt
      margin-left: 3.8pt

  /*
    XXX: I'd overlap this with the .bar class but bar sizes differently from button nodes

  .nobutton
    min-width: 150px
    min-height: 60px
    cursor: default

  .nobutton[data-label]:before
    content: attr(data-label)

  .nobutton:before
    font-size: 20px
    display: block
    position: absolute
    left: 0px
    bottom: 0px
    right: 0px
    padding: $small-space $medium-space
    letter-spacing: -1px
    line-height: 1.25
    overflow: hidden
    max-height: 100%


  .bar
    min-width: 0.75 * $unit-medium
    min-height: 0.75 * $unit-medium

  .bar.row > *
    margin-left: $bar-inner-margin

  /*
    XXX: Define top/bottom just like left/right/pill, also apply to bar not just
      button?

  .bar.top,
  .button.top,
  .nobutton.top
    border-top-left-radius: $unit-medium
    border-top-right-radius: $unit-medium

  .bar.bottom,
  .nobutton.bottom,
  .button.bottom
    border-bottom-left-radius: $unit-medium
    border-bottom-right-radius: $unit-medium

  .bar,
  .nobutton,
  .button

    &.top:before,
    &.bottom:before,
    &.top:after,
    &.bottom:after

      left: 25px
      right: 25px


.elbow.bottom-left
  margin-bottom: 3pt

.elbow.top-left
  margin-top: 3pt

.form-1-3
  > .row .row.frame
    min-height: auto
    > .bar.alt
      min-height: $medium-space
      max-height: $medium-space

  > .row.header .row.frame
    margin-bottom: 3pt

  > .row.split
    display: relative
    margin: 0
    padding: 0
    min-height: 0
    max-height: 0

    > .block

  > .row.body .row.frame
    overflow: hidden
    margin-top: 3pt
    > .bar.alt
      margin-top: auto


//.elbow.horizontal.default > .bar > .block
//  min-height: $unit-small
//  min-width: $unit-small
//  border-width: $unit-small
//  border-style: solid


/* Some helpers for FORM-1

#columnA,
#columnB
  overflow-y: scroll

  > .wrapper
    height: calc( 100vh - 30px )

#columnA > .wrapper > .content.flexcv,
#columnB > .wrapper > .content.flexcv
  overflow-y: scroll

//#columnA > .wrapper > .content.flexcv > .content,
//#columnB > .wrapper > .content.flexcv > .content

.form-1-1.small > .content
  margin: $medium-space auto $small-space auto
  padding: 0 ( $pill-cap-small-width + $bar-inner-margin )

.form-1-1.medium > .content
  margin: $large-space auto $medium-space auto
  padding: 0 ( $pill-cap-medium-width + $bar-inner-margin )


.form-1-3 > .header
  //height: 220px

  .title
    text-align: right
    padding: 15pt 10pt

  .button-wrap
    min-width: 225.9pt
    right: 0px
    bottom: 9%
    position: absolute
    width: auto

  pre
    font-size: 24px


.form-4

  > .content
    height: 100%
    height: 300px
    overflow: hidden

    .bar.vertical
      margin-top: 75px
      margin-bottom: 45px

  > .header,
  > .footer
    height: 220px



$f13-1-header-height: calc( ( 100vh - #{$bar-min-v} - #{$bar-min-v} ) * #{$f13-head-ratio} )

.f13-1.header
  min-height: $f13-1-header-height
  height: $f13-1-header-height

.f13-2-2-2.content

  overflow-y: scroll
  height: calc( 100% - 1.5em )

  > .wrapper
    margin: .8em 0 .8em 1.5em


#terminal-001

//#terminal-002
//  .wrapper.form-1-1
//    border: 3px solid purple !important

#terminal-003 >
  .column-1,
  .column-2,
  .column > .wrapper
    height: 100%

    > .content.flexcv
      height: 100%;
      overflow-y: scroll;

  .column-1
    width: 78%
  .column-2
    width: 22%



.content > .wrapper > #hnav
  .title
    color: $tango-butter-1

  a.reference
    color: $tango-plum-1
    display: inline

.content > .wrapper > #hnav
  p cite
    display: inline
    margin: auto 7px;

// Id: OK-SDK:app/sdk-demo/style.sass
