extends ../../ok-sdk/view/base

include ../../ok-sdk/view/lcars-inc
include ../../ok-sdk/view/lorem-ipsum-inc
include ../../ok-sdk/view/forms-data-inc

block page-settings
  - body_attributes = {'class':'ok-diagram'}

//- Alias to Basic HTML page with Sass LCARS mixins
