extends base

block head
  +std-html-client("OK! v0.003: XYZ")

block prologue
block header
block main
  #terminal-003.wrapper.row.flexv
    .column.column-1

      -
         header = { }
         header.title = { text:"LCARS OK-003", class:"text-grey-1", align:"right" }
         header.lcap = { class:"bg-grey-4" }
         header.bar = { class:"bg-grey-3" }

         footer = { }
         footer.title = {
         text:context.sitefile.datetime.toISOString(), class:"text-grey-5", align:"right" }

      +ok-sdk-form-1({}, 'grey-4', 'small', header, footer)
        +ok-sdk-form-3({}, "XYZ")
          +lorem-ipsum-paragraph(num=1)&attributes({class:'text-1-1 capital'})
          h3.text-2-3 Exercitation
          +lorem-ipsum-paragraph(num=3)&attributes({class:'text-1-1 capital'})
          +lorem-ipsum-paragraph(num=1)&attributes({class:'text-1-1 capital'})
          h2.text-2-3 Laboris nisi ut Aliquip
          +lorem-ipsum-paragraph(num=2)&attributes({class:'text-1-1 capital'})
          +lorem-ipsum-paragraph(num=1)&attributes({class:'text-1-1 capital'})

    .column.column-2
      -
         header = { }
         header.title = { text:"SF CTL", class:"text-grey-1", align:"right" }
         header.lcap = { class:"bg-grey-4" }
         header.bar = { class:"bg-grey-3" }

         footer = { }
         footer.title = { text:context.sitefile.version, class:"text-grey-5", align:"left" }

      +ok-sdk-form-1({}, 'grey-4', 'small', header, footer)
