extends base

block head
  +std-html-client("OK! v0.001: DOCS INTRO")

block prologue
block header
block main
  .wrapper.row.flexv
    .row.flexcv.flexch
      -
         header = { }
         header.title = { text:"LCARS OK-001", class:"text-grey-1", align:"right" }
         header.lcap = { class:"bg-grey-4" }
         header.bar = { class:"bg-grey-3" }

         footer = { }
         footer.title = { text:context.sitefile.version, class:"text-grey-5", align:"right" }

      +lcarssdk-base-form-1('grey-4', 'small', header, footer)
        +lcarssdk-base-form-3(null, null, null, null, null, null, "OK DOCS INTRO")
          p.text-2-2 Incoming message
          p.text-2-3 From: Berend
          p.text-2-3 To: Terminal OK-001
          p.text-2-2 Message begins
          p.text-1-1 Welcome!
          p.text-2-2 Message ends

          +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})
          h3.text-2-3 Exercitation
          +lorem-ipsum-paragraph(3)&attributes({class:'text-1-1 capital'})
          +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})
          h2.text-2-3 Laboris nisi ut Aliquip
          +lorem-ipsum-paragraph(2)&attributes({class:'text-1-1 capital'})

          p.text-2-2 View description: Baseform 3 in 1 testing.


block document
block footer

block epilogue
