extends base

block head
  +std-html-client("OK! r0.0/v0.0.3-dev: XXX")

block prologue
block header
block main
  #terminal-002.wrapper.row.flexv
    .flexv.flexch

      -
         header = { }
         header.title = { text:"LCARS OK-002", class:"text-grey-1", align:"right" }
         header.lcap = { class:"bg-grey-4" }
         header.bar = { class:"bg-grey-3" }

         footer = { }
         footer.title = { text:context.sitefile.dateversion, class:"text-grey-5", align:"right" }

      +ok-sdk-form-1({}, 'grey-4', 'small', header, footer)
        .column.flexcv
          +ok-sdk-form-1({}, 'grey-4', 'small', header, footer)
            +ok-sdk-form-1({}, 'grey-4', 'small', header, footer)
              .column.flexcv
                +ok-sdk-no-data('grey-5')
                +ok-sdk-no-data('grey-2', 'No data: level 1')
                +ok-sdk-no-data('grey-3', 'No data: level 2')
                +ok-sdk-no-data('grey-4', 'No data: level 3')
            +lorem-ipsum-paragraph(2)&attributes({class:'text-1-1 capital'})
          +lorem-ipsum-paragraph(2)&attributes({class:'text-1-1 capital'})

