extends ../base/data
//- Server-side HTML+JSON with ok-sdk functions 

include ../lcars-inc
include ../forms-data-inc

block head-extra
  -
    if (typeof data !== "undefined") {
      formScssFile = data_dir +'/'+ data +'.sass'
      let fs = require('fs')
      if (fs.existsSync(formScssFile)) {
        formCssFile = data_dir +'/'+ data +'.css'
      }
    }

  if formCssFile
    link(rel="stylesheet", type="text/css", href=formCssFile)

block main-data
  +ok-forms-data-functions()

  //- Start render at root item
  +ok-tpl-item(formData)

//- Id: OK-SDK:app/ok-sdk/view/layout/forms.pug
