extends ../../sdk-demo/view/base
include ../../sdk-demo/view/lorem-ipsum
include ../../sdk-demo/view/base/lcars


block head
  +std-html-head("OK! LCARS SDK docs")

block prologue
block header
block main
  .wrapper.row.flexh
    +lcarssdk-base-form-3(null, null, null, null, null, null, "DOCS 0.0")
      p.text-1-1 Main foo!
      p.text-1-2
        | Need to modularize this baseform and parameterize. In PUG terms that
        | means mixin definitions and calls (positional arguments, one content-
        | block), or building and extending base-templates (mutiple blocks).
      p.text-1-3
        | Ofcourse some metadata driven approach would be preferable, but that
        | requires a whole meta-language and design that is for another version.
        | The current
        
        span.text-white Form 1.3
        
        | should be split up into two content-panes, 
        | one with a title and some button block floating right, the other for
        | main content. And a minimal way to drive the two elbows; ie. two
        | sequences of label/link/color and some other attributes.

      a.button.left.right.bg-cat-4-1(data-label="Back to DEV", style="min-width:60px; width:260px", title="Back to dev", href="/doc/dev/main")

block document
block footer

block epilogue
