doctype html
include html

if !profile
- profile = context.config.default_profile

html(profile=profile)
  head
    block head
      +std-html-head("Sitefile LCARS Default Client")

    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-4932429-2")
    script
      | window.dataLayer = window.dataLayer || [];
      | function gtag(){dataLayer.push(arguments);}
      | gtag('js', new Date());
      |
      | gtag('config', 'UA-4932429-2');

    block head-extra

  body
    block prologue
    .header.container
      block header
        p Template header
        hr
    block main
    .document.container
      block document
        p Template document
    .footer.container
      block footer
        hr
        p Template footer
    block epilogue
