
.ok-dia__baseform-0
  // Center baseform-0 on large displays
  max-width: 1024px
  margin: 0 auto

  &--fullwidth,
  &.fullwidth
    // Allow to span full width
    max-width: initial
    margin: 0
    padding: 0 1em


    
.ok-dia__baseform-1
  > .content
    padding: 0 var(--content-padding)

  &.small > .content
    margin: $medium-space auto $small-space auto

  .column.frame
    min-width: var(--bar-min-width)


.ok-dia__baseform-2_1
  > .pane
    overflow: hidden

    > .column:first-child
      > *
        text-align: right

    > .column:not(.frame)
      // Account for elbow inner bar
      > .row:first-child,
      > .row:last-child
        --padding-h: calc( var(--inner-radius) + var(--inner-bar-length) )
        padding-left: var(--padding-h)
        padding-right: var(--padding-h)

      // Account for radius of frame and non-content elements
      > .row.frame:first-child
        margin-bottom: calc( var(--content-padding) / 2 )
      > .row.frame:last-child
        margin-top: calc( var(--content-padding) / 2 )
      > :not(.frame)
        margin-left: calc( var(--content-padding) / 2 )
        margin-right: calc( var(--content-padding) / 2 )

      > .content
        margin: $large-space auto $medium-space auto
        padding: 0 var(--content-padding)

    > .column.frame
      min-width: var(--column-width)


.ok-dia__baseform-1_3
  .f13-1-1.frame > *,
  .f13-2-1.frame > *
    min-width: var(--column-width)

  .f13-1-2-2.frame,
  .f13-2-2-1.frame
    // Account for elbow inner bar
    --padding-h: calc( var(--inner-radius) + var(--inner-bar-length) - var(--bar-margin) - 4pt  )
    padding-left: var(--padding-h)

  > .row .row.frame
    min-height: auto
    > .bar.alt
      min-height: $medium-space
      max-height: $medium-space

  > .row.split
    display: relative
    margin: 0
    padding: 0
    min-height: 0
    max-height: 0

    > .block
      --empty: null

  > .row.body .row.frame
    overflow: hidden
    //margin-top: 4.5pt
    > .bar.alt
      margin-top: auto

  > .f13-1 // Header row (with h/v frame)
    flex: .31
    overflow: hidden

    > .f13-1-2 // Header content and h-frame

      > .f13-1-2-1 // Header content div
        padding: 0 var(--content-padding)
        padding-bottom: calc( var(--content-padding) / 2 )
        overflow-y: scroll

        .title,
        h1, h2, h3//, h4, h5, h6
          margin: 0
          text-align: right

        .button-wrap
          min-width: 225.9pt
          right: 0px
          bottom: 9%
          position: absolute
          width: auto

      > .f13-1-2-2 // Header horizontal frame

  > .f13-2 // Body row (with h/v frame)
    flex: .69
    overflow: hidden

    > .f13-2-2 // Body content and h-frame
      > .f13-2-2-1 // Header horizontal frame
      > .f13-2-2-2 // Body content div
        padding: 0 var(--content-padding)
        padding-top: 9pt
        padding-top: calc( var(--content-padding) / 2 )
        overflow-y: scroll
        height: calc( 100% - 2 * var(--bar-height) )

        > *
          margin: 4.5pt


.ok-dia__baseform-4
  > .content
    height: 100%
    height: 300px
    overflow: hidden
    padding: 0 var(--content-padding)

    .bar.vertical
      margin-top: 75px
      margin-bottom: 45px

  > .header,
  > .footer
    height: 220px


.ok-diagram

  .frame > *
    margin: 4.5pt

  .f0,
  .form-0
    @extend .ok-dia__baseform-0

  .f1,
  .form-1
    @extend .ok-dia__baseform-1

  .f2_1,
  .form-2_1
    @extend .ok-dia__baseform-2_1

  .f1_3,
  .form-1_3
    @extend .ok-dia__baseform-1_3

  .form-4
    @extend .ok-dia__baseform-4

