// Flexbox model

.flex
  flex: 1

.flexbox
  display: flex


.flexv
  @extend .flexbox
  flex-direction: column

  > .flexcv
    @extend .flex


.flexh
  @extend .flexbox
  flex-direction: row

  > .flexch
    @extend .flex


.pane
  box-sizing: border-box
  height: 100%
  overflow: scroll
  width: 100%

  .pane > *
    box-sizing: border-box

.rootpane
  @extend .pane
  height: 100vh
  margin: 0
  padding: 0

// OK-SDK:app/ok-sdk/style/style-layout.sass
