// OK Style: HTML elements

h1
  font-size: var(--font-size-xxlarge )
h2
  font-size: var(--font-size-xlarge)
h3
  font-size: var(--font-size-large)
h4
  font-size: var(--font-size)
h5
  font-size: var(--font-size-small)
h6
  font-size: var(--font-size-xsmall)

h1, h2, h3, h4, h5, h6
  line-height: 1.1
  font-weight: 500

h1, h2, h3
  margin-top:  15pt
  margin-bottom: 8pt

h4, h5, h6
  margin-top: 8pt
  margin-bottom: 8pt

p
  margin-top: .2em 
  margin-bottom: .2em 


// Id: OK-SDK:app/ok-sdk/style-html.sass
