extends ../view/base
include ../view/lorem-ipsum
include ../view/base/lcars


block head
  +std-html-client("LCARS Terminal Base")

block prologue
block header
block document
block footer
block epilogue
