extends ../base

block head
  +std-html-head("LCARS Terminal Base Form 4")

block main

  #main.form-4.wrapper.column

      .row.flexh.header
        .button.endcap.bottom-left.large.bg-cat-1-1
          .cap
        .bar.base.bg-cat-1-1.flexcv
        .elbow.top-right.large.vertical.bg-cat-1-1
          .bar
            .block
        .bar.flexcv
        .endcap.bottom-right.large
          .cap

      .row.flexcv.flexch.content
        .bar.flexcv
        .bar.vertical.bg-cat-1-1
        .bar.flexcv

      .row.flexh.footer
        .bar.flexcv
        .elbow.bottom-left.default.vertical.bg-cat-1-1
          .bar
            .block
        .bar.large.bg-cat-1-1.flexcv


block header
block footer

