extends ../base
//- Basic HTML page with LCARS

block page-settings
  - body_attributes = {'class':'ok-diagram'}
include ../lorem-ipsum-inc
include lcars-inc

//- Id: OK-SDK:app/sdk-demo/view/base/forms.pug
