extends ../base
include ../lorem-ipsum
include lcars

block head
  +std-html-head("LCARS Terminal Base Form 1")

block prologue
block header
block main
  .wrapper.row.flexv

    // Left Column, and spacer
    #columnA.column.flexcv.flexch
      .wrapper.spacer.flexcv

      - 
        header = { title:{ text: "LCARS 417", align: "right" } }
        footer = { title:{ text: "12-345", align: "right" }, bar: {}, rcap: {}, lcap: {} }
        footer.title.class = "text-1-3"
        footer.lcap.class = "bg-cat-1-3"

      +lcarssdk-base-form-1('1-2', 'medium', header, footer)
          
        h2.text-2-3 Laboris nisi ut Aliquip
        +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})
        +lorem-ipsum-paragraph(2)&attributes({class:'text-1-1 capital'})
        h3.text-2-3 Exercitation
        +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})

    // Right column, and spacer
    #columnB.column.flexcv.flexch
      .wrapper.spacer.flexcv

      -
         header = { }
         header.title = { text:"Title 91-561", class:"text-2-3", align:"right" }
         header.lcap = { class:"bg-grey-4" }
         header.bar = { class:"bg-cat-1-1" }
         header.rcap = null

         footer = { }
         footer.title = { text:"512-9862", class:"text-grey-3", align:"left" }
         footer.lcap = { class:"bg-grey-5" }
         footer.bar = { class:"bg-grey-3" }
         footer.rcap = null


      +lcarssdk-base-form-1(null, 'normal', header, footer)

        h3.text-2-2 Form 1: double pillbars and a contentpane
        p.text-4-1
          | The following tests show some adjustment is needed for pillbars at
          | different sizes. Probably split complexButton class into suitable
          | container for non-button bars.

        .wrapper.spacer.flexcv

        -
           bars = {}
           bars.lcap = { class:"bg-cat-4-2" }
           bars.bar = { class:"bg-cat-1-1" }
           bars.rcap = { class:"bg-cat-4-2" }

        +lcarssdk-base-form-1(null, 'tiny', bars, bars)

           p.htmlTag.text-4-1 Paragraph text. 1234567890!@#$%^&amp;*()-=_+/?|[]{}`~
           pre.htmlTag.text-4-1 Preformatted() { text ; } 1234567890!@#$%^&amp;*()-=_+/?|[]{}`~
           blockquote.htmlTag.text-4-1 Blockquote text 1234567890!@#$%^&amp;*()-=_+/?|[]{}`~

        .wrapper.spacer.flexcv

        .wrapper.sdk.dialog.typeA.flexv.column

          .wrapper.spacer.flexcv

          // LCARS Monitor baseform2,
          // Top bar
          .complexButton.header
            .cap.small.left.bg-cat-4-2
            .bar.small.flexch.bg-cat-1-1
            .cap.small.right.bg-cat-4-2
        
          .content.flexcv
            .content

              p.htmlTag.text-4-1 Paragraph text. 1234567890!@#$%^&amp;*()-=_+/?|[]{}`~
              pre.htmlTag.text-4-1 Preformatted() { text ; } 1234567890!@#$%^&amp;*()-=_+/?|[]{}`~
              blockquote.htmlTag.text-4-1 Blockquote text 1234567890!@#$%^&amp;*()-=_+/?|[]{}`~

          .complexButton.footer.flexh
            .cap.tiny.left.bg-cat-4-3
            .bar.tiny.flexch.bg-cat-1-1
            .cap.tiny.right.bg-cat-4-3

          .content.flexcv
            .content

              ol
                li.text-4-1 List/item
              ul
                li.text-4-1 List/item

          .complexButton.footer.flexh
            .cap.tiny.left.bg-cat-4-3
            .bar.tiny.flexch.bg-cat-1-1
            .cap.tiny.right.bg-cat-4-3

        +lorem-ipsum-paragraph(2)&attributes({'class':'text-4-1'})
        +lorem-ipsum-paragraph(1)&attributes({'class':'text-4-1'})

        -
           lcap = { class:"bg-cat-4-2" }
           bar = { class:"bg-cat-1-1", label:"tiny" }
           rcap = { class:"bg-cat-4-2" }

        +lcarssdk-pillbar(null, null, 'tiny', lcap, rcap, bar)
        .wrapper.spacer.flexcv
        - bar.label = "small"
        +lcarssdk-pillbar(null, null, 'small', lcap, rcap, bar)
        .wrapper.spacer.flexcv
        - bar.label = "medium"
        +lcarssdk-pillbar(null, null, 'medium', lcap, rcap, bar)
        .wrapper.spacer.flexcv
        - bar.label = "normal"
        +lcarssdk-pillbar(null, null, 'normal', lcap, rcap, bar)
        .wrapper.spacer.flexcv
        - bar.label = "large"
        +lcarssdk-pillbar(null, null, 'large', lcap, rcap, bar)
        .wrapper.spacer.flexcv
        - bar.label = "xlarge"
        +lcarssdk-pillbar(null, null, 'xlarge', lcap, rcap, bar)
        .wrapper.spacer.flexcv

block document
block footer

block epilogue
