extends ../base
include ../lorem-ipsum
include lcars

block head
  +std-html-head("LCARS Terminal Base Form 2")

block main

  .wrapper.row.flexh
    +lcarssdk-base-form-2

block header
block footer

