extends ../base
include ../lorem-ipsum
include lcars

block head
  +std-html-head("LCARS Terminal Base Form 3")

block main

  .wrapper.row.flexh
    +lcarssdk-base-form-3


block header
block footer

