extends forms

block head
  +std-html-head("LCARS Terminal Base Form 3")

block prologue
block header
block main
  .wrapper.row.flexh
    +lcarssdk-base-form-3

block document
block footer

block epilogue
