
mixin lcarssdk-hbar(bar)

  // mixin b/l lcarssdk-hbar

  if !bar.class
    - bar.class = "bg-cat-1-1"

  if bar.label
    div&attributes({class:"bar flexch "+bar.class, 'data-label':bar.label })
  else if bar.altlabel
    div&attributes({class:"bar flexch "+bar.class, 'data-altlabel':bar.altlabel })
  else
    div&attributes({class:"bar flexch "+bar.class})

  // EOM b/l lcarssdk-hbar


mixin lcarssdk-titlebar(title, bar)

  // mixin b/l lcarssdk-titlebar

  if title && title.align == 'left'
    div&attributes({class:"title text "+sizing+" "+title.class})= title.text
    +lcarssdk-hbar(bar)

  else
    +lcarssdk-hbar(bar)
    if title
      div&attributes({class:"title text "+sizing+" "+title.class})= title.text

  // EOM b/l lcarssdk-titlebar


mixin lcarssdk-pillbar(color, title, size='medium', lcap={}, rcap={}, bar={})

  // mixin b/l lcarssdk-pillbar

  if !color
    - color = "cat-1-1"

  if !bar.class
    - bar.class = "bg-"+color

  if rcap != null
    if !rcap.class
      - rcap.class = "bg-"+color
  if lcap != null
    if !lcap.class
      - lcap.class = "bg-"+color
  if title
    if !title.class
      - title.class = "text-"+color

  - sizing = size
  if size == 'medium'
    - sizing = 'half'

  //- Outbut caps, bar and title elements

  .row.flexh&attributes(attributes)
    if lcap
      div&attributes({class:"cap "+size+" left "+lcap.class})

    +lcarssdk-titlebar(title, bar)

    if rcap
      div&attributes({class:"cap "+size+" right "+rcap.class})

  // EOM b/l lcarssdk-pillbar


mixin lcarssdk-base-form-1(color, size='medium', header=null, footer=null)

  //- LCARS Monitor baseform1 with text body and leading/trailing pillbar
  // mixin b/l lcarssdk-base-form-1

  if !color
    - color = "cat-1-1"

  .wrapper.form-1-1.column.flexv.flexch&attributes(attributes)

    if header
      if !header.title
        - header.title = null
      if !header.lcap && header.lcap != null
        - header.lcap = {}
      if !header.rcap && header.rcap != null
        - header.rcap = {}
      +lcarssdk-pillbar(color, header.title, size, header.lcap, header.rcap, header.bar)&attributes({class:'f11-1 header'})

    .f11-2.content.row.flexcv
      if block
        block
      else
        .flexcv
          p.no-data-placeholder&attributes({class:'bg-'+color}) No Data

    if footer
      if !footer.title
        - footer.title = null
      if !footer.lcap && footer.lcap != null
        - footer.lcap = {}
      if !footer.rcap && footer.rcap != null
        - footer.rcap = {}
      +lcarssdk-pillbar(color, footer.title, size, footer.lcap, footer.rcap, footer.bar)&attributes({class:'f11-3 footer'})

  // EOM b/l lcarssdk-base-form-1


mixin lcarssdk-base-form-2(color, size='medium', lbar, rbar, tbar, bbar)

  // A simple contentpane bordered by a LCARS frame of bars and elbows, 
  // with broad vertical and thin horizontal frame

  if !color
    - color = "cat-1-1"

  .wrapper.column.flexv.flexch&attributes(attributes)

    // Body
    .wrapper.flexh.flexcv

      // Body Button Column
      .wrapper.column.flexv(style="width:200px")
        .elbow.top-left.bg-cat-1-1.default.horizontal(data-label="36", align="right")
          .bar(style="width: 209px; right: -204px")
            .block

        .button.bg-grey-3(data-label="555-1", align="right")
        .button.bg-cat-2-3.flexcv(data-Label="98 12312", align="right")

      // Body Bar Row
      .column.flexch.flexv
        .row.frame.flexh(style="padding-left:209px; padding-right:209px")
          .bar.bg-cat-1-3.flexch

        // Body Content
        .wrapper.content.flexcv

          //- +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})

      .wrapper.column.flexv(style="width:200px")
        .elbow.top-right.bg-cat-1-2.default.horizontal(data-label="36", align="right")
          .bar(style="width: 209px; left: -204px")
            .block

        .button.bg-cat-5-2(data-label="413", align="left")
        .button.bg-cat-2-1.flexcv(data-Label="98 12312", align="left")

    .row.header.flexh
      .column.flexv(style="width:200px")
        .button.bg-cat-5-3(data-label="LCARS")
        .elbow.bottom-left.bg-cat-5-3.flexcv.large.horizontal
          .bar.large(style="width: 209px; right: -204px")
            .block
          
      .wrapper.flexch.flexv
        //- Footer Content
        .wrapper.content.flexcv
          .title.text-1-1(align="right") LCARS BASIC FORM 1.2
          .wrapper.flexh.button-wrap
            p.text-1-1.text A frame enclosing a single content pane
            
        //- Header Bar Row
        .row.frame.flexh(style="padding-left: 204px; padding-right: 204px")
          .bar.large.bg-cat-2-2
          .bar.large.bg-cat-2-1.flexch
          .bar.large.bg-cat-2-3
        
      .column.flexv(style="width:200px")
        .button.bg-cat-1-3(data-label="LCARS")
        .elbow.bottom-right.bg-cat-4-1.flexcv.large.horizontal
          .bar(style="width: 209px; left: -204px")
            .block

  // EOM b/l lcarssdk-base-form-2


mixin lcarssdk-base-form-3(color='1-1', size='medium', lbar, rbar, tbar, bbar, title="Form 1.3")

  //- The iconic double-elbow split-view LCARS layout:
  //- Two vertically stacked frames with the characteristic double okudagram
  //- elbow. One vertical varying-width column bar, and two decorative horizontal
  //- bars
  .wrapper.form-1-3.column.flexv.flexch&attributes(attributes)

    //- Header: the upper-section frame approx 1/4 or similar fraction
    .f13-1.row.header.flexh(style="height:12%; min-height:13em")
      //- Header Column
      .column.flexv(style="width:200px")
        .button.flexch.bg-cat-4-3(data-label="LCARS")
        .elbow.bottom-left.bg-cat-4-1.flexcv.default.horizontal
          .bar(style="width: 209px; right: -204px")
            .block
          
      .flexcv.flexv
        // Header Content
        .flexh.flexcv
          #ok-rndnum-scroll-folly.container.flexcv.flexh(style="width:300px; margin-left: 20px")
            .content.flexcv
              .text-1-1 678
              .text-1-2 987
              .text-1-1 162
              .text-1-2 987
              .text-1-3 270
              .text-0-0 123
              .text-5-3 491
            .content.flexcv
              .text-1-3 272287
              .text-1-3 2733476
              .text-1-3 256743
              .text-1-3 275349
              .text-1-3 223476
              .text-1-3 712351
              .text-1-3 152771
              .text-1-3 752713
              .text-1-2 2564234
              .text-1-1 454545

          .content.flexcv(style="width:300px")
            .title.text-1-1= title

            .wrapper.flexh.button-wrap
              .button.pill.bg-grey-4(data-label="198-2")
              .button.pill.bg-cat-1-2(data-label="11-47")
            
        // Header Bar Row: the cells right after the upper-section elbow
        .row.frame.flexh(style="padding-left: 204px")
          .bar.bg-cat-4-2
          .bar.small.bg-grey-5.flexch(style="width:100%; max-width:200px")
          .bar.bg-cat-4-3
          .bar.bg-grey-5.flexch

    // Body: the lower-section frame around 3/4 or similar of the height
    .f13-2.row.flexh.flexcv(style="overflow:hidden")
      // Body Button Column: The lower-section elbow and cells beneath
      .f13-2-1.wrapper.column.flexv(style="width:200px")
        .elbow.top-left.bg-grey-4.default.horizontal(data-label="36", align="right")
          .bar(style="width: 209px; right: -204px")
            .block

        .button.bg-cat-2-3(data-label="413", align="right")
        .button.bg-grey-2.flexcv(data-label="98-42712", align="right")

      .f13-2-2.wrapper.column.content.flexcv
        // Body Bar Row: the cells right after the lower-section elbow
        .row.frame(style="padding-left:204px")
          .bar.bg-cat-4-1
          .bar.small.bg-grey-5.flexch(style="width:100%; max-width:200px; margin-top:15px")
          .bar.bg-cat-4-1
          .bar.bg-grey-5.flexch

        // Body Content
        .f13-2-2-2.content(style="overflow-y:scroll; height:calc(100% - 1.5em);")
          .wrapper(style="margin:1em 0 1em 1.5em;")
            if block
              block
              
            else
              h3.text.text-5-3 terminal
              p.text-2-3.text
                | A frame enclosing two content panes, with a characteristic split

              +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})

  // EOM b/l lcarssdk-base-form-3
