
mixin lcarssdk-hbar(bar)

  // mixin b/l lcarssdk-hbar

  if !bar.class
    - bar.class = "bg-cat-1-1"

  if bar.label
    div&attributes({class:"bar flexch "+bar.class, 'data-label':bar.label })
  else if bar.altlabel
    div&attributes({class:"bar flexch "+bar.class, 'data-altlabel':bar.altlabel })
  else
    div&attributes({class:"bar flexch "+bar.class})

  // EOM b/l lcarssdk-hbar


mixin lcarssdk-titlebar(title, bar)

  // mixin b/l lcarssdk-titlebar

  if title && title.align == 'left'
    div&attributes({class:"title text "+sizing+" "+title.class})= title.text
    +lcarssdk-hbar(bar)

  else
    +lcarssdk-hbar(bar)
    if title
      div&attributes({class:"title text "+sizing+" "+title.class})= title.text

  // EOM b/l lcarssdk-titlebar


mixin lcarssdk-pillbar(color, title, size='medium', lcap={}, rcap={}, bar={})

  // mixin b/l lcarssdk-pillbar

  if !color
    - color = "1-1"

  if !bar.class
    - bar.class = "bg-cat-"+color

  if rcap != null
    if !rcap.class
      - rcap.class = "bg-cat-"+color
  if lcap != null
    if !lcap.class
      - lcap.class = "bg-cat-"+color
  if title
    if !title.class
      - title.class = "text-"+color

  - sizing = size
  if size == 'medium'
    - sizing = 'half'

  //- Outbut caps, bar and title elements

  .row.flexh&attributes(attributes)
    if lcap
      div&attributes({class:"cap "+size+" left "+lcap.class})

    +lcarssdk-titlebar(title, bar)

    if rcap
      div&attributes({class:"cap "+size+" right "+rcap.class})

  // EOM b/l lcarssdk-pillbar


mixin lcarssdk-base-form-1(color, size='medium', header=null, footer=null)

  //- LCARS Monitor baseform1 with text body and leading/trailing pillbar

  // mixin b/l lcarssdk-base-form-1

  if !color
    - color = "1-1"

  .wrapper.sdk.dialog.typeA.flexv.column&attributes(attributes)

    if header
      if !header.title
        - header.title = null
      if !header.lcap && header.lcap != null
        - header.lcap = {}
      if !header.rcap && header.rcap != null
        - header.rcap = {}
      +lcarssdk-pillbar(color, header.title, size, header.lcap, header.rcap, header.bar)&attributes({class:'header'})

    .content.flexcv
      .content
        if block
          block
        else
          p.no-data-placeholder&attributes({class:'bg-cat-'+color}) No Data

    if footer
      if !footer.title
        - footer.title = null
      if !footer.lcap && footer.lcap != null
        - footer.lcap = {}
      if !footer.rcap && footer.rcap != null
        - footer.rcap = {}
      +lcarssdk-pillbar(color, footer.title, size, footer.lcap, footer.rcap, footer.bar)&attributes({class:'footer'})

  // EOM b/l lcarssdk-base-form-1


mixin lcarssdk-base-form-2(color, size='medium', lbar, rbar, tbar, bbar)

  // A simple contentpane bordered by a LCARS frame of bars and elbows, 
  // with broad vertical and thin horizontal frame

  if !color
    - color = "1-1"


  .wrapper.column.flexv.flexch&attributes(attributes)

    // Body
    .wrapper.main.flexh.flexcv

      // Body Button Column
      .wrapper.column.flexv(style="width:200px")
        .elbow.top-left.bg-cat-1-1.default.horizontal(data-label="36", align="right")
          .bar(style="width: 209px; right: -204px")
            .block

        .button.bg-grey-3(data-label="555-1", align="right")
        .button.bg-cat-2-3.flexcv(data-Label="98 12312", align="right")

      // Body Bar Row
      .column.flexch.flexv
        .row.frame.flexh(style="padding-left:209px; padding-right:209px")
          .bar.bg-cat-1-3.flexch

        // Body Content
        .wrapper.content.flexcv(style=" overflow:auto;")

          //- +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})

      .wrapper.column.flexv(style="width:200px")
        .elbow.top-right.bg-cat-1-2.default.horizontal(data-label="36", align="right")
          .bar(style="width: 209px; left: -204px")
            .block

        .button.bg-cat-5-2(data-label="413", align="left")
        .button.bg-cat-2-1.flexcv(data-Label="98 12312", align="left")

    .row.header.flexh
      .column.flexv(style="width:200px")
        .button.bg-cat-5-3(data-label="LCARS")
        .elbow.bottom-left.bg-cat-5-3.flexcv.large.horizontal
          .bar.large(style="width: 209px; right: -204px")
            .block
          
      .wrapper.flexch.flexv
        //- Footer Content
        .wrapper.content.flexcv
          .title.text-1-1(align="right") LCARS BASIC FORM 1.2
          .wrapper.flexh.button-wrap
            p.text-1-1.text A frame enclosing a single content pane
            
        //- Header Bar Row
        .row.frame.flexh(style="padding-left: 204px; padding-right: 204px")
          .bar.large.bg-cat-2-2
          .bar.large.bg-cat-2-1.flexch
          .bar.large.bg-cat-2-3
        
      .column.flexv(style="width:200px")
        .button.bg-cat-1-3(data-label="LCARS")
        .elbow.bottom-right.bg-cat-4-1.flexcv.large.horizontal
          .bar(style="width: 209px; left: -204px")
            .block

  // EOM b/l lcarssdk-base-form-2


mixin lcarssdk-base-form-3(color='1-1', size='medium', lbar, rbar, tbar, bbar, title="Form 1.3")

  //- The iconic double-elbow split-view LCARS layout

  //- TODO: parameterize
  
  #main.form-3.wrapper.column.flexv.flexch&attributes(attributes)

    // Header
    .row.header.flexh
      // Header Column
      .column.flexv(style="width:200px")
        .button.flexch.bg-cat-4-3(data-label="LCARS")
        .elbow.bottom-left.bg-cat-4-1.flexcv.default.horizontal
          .bar(style="width: 209px; right: -204px")
            .block
          
      .wrapper.flexch.flexv
        // Header Content
        .wrapper.content.flexcv

          .title.text-1-1= title

          .wrapper.flexh.button-wrap
            .button.pill.bg-grey-4
            .button.pill.bg-cat-1-2
            
        // Header Bar Row
        .row.frame.flexh(style="padding-left: 204px")
          .bar.bg-cat-4-2
          .bar.small.bg-grey-5(style="width:100%; max-width:200px")
          .bar.bg-cat-4-3
          .bar.bg-grey-5.flexch
        
    // Body
    .wrapper.main.flexh.flexcv

      // Body Button Column
      .wrapper.column.flexv(style="width:200px")
        .elbow.top-left.bg-grey-4.default.horizontal(data-label="36", align="right")
          .bar(style="width: 209px; right: -204px")
            .block

        .button.bg-cat-2-3(data-label="413", align="right")
        .button.bg-grey-2.flexcv(data-Label="98 12312", align="right")

      // Body Bar Row
      .column.flexch.flexv
        .row.frame.flexh(style="padding-left:209px")
          .bar.bg-cat-4-1
          .bar.small.bg-grey-5.flexch(style="width:100%; max-width:200px; margin-top:15px")
          .bar.bg-cat-4-1
          .bar.bg-grey-5.flexch

        // Body Content
        .wrapper.content.flexcv(style=" overflow:auto;")

          .container(style="margin-left: 30px; margin-top: 30px")

            if block
              block
              
            else
              h3.text.text-5-3 terminal
              p.text-2-3.text
                | A frame enclosing two content panes, with a characteristic split

              +lorem-ipsum-paragraph(1)&attributes({class:'text-1-1 capital'})

  // EOM b/l lcarssdk-base-form-3
